name: Weekly Sunday Build

on:
  schedule:
    # 0 0 * * 0 oznacza: minuta 0, godzina 0, dowolny dzień miesiąca, dowolny miesiąc, niedziela (0)
    - cron: '0 0 * * 0' 
  workflow_dispatch: # Pozwala odpalić proces ręcznie przyciskiem na GitHubie

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: TWOJA_NAZWA_UZYTKOWNIKA/nazwa-obrazu:latest
