name: Weekly Sunday Build

on:
  schedule:
    - cron: '0 0 * * 0' 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current date
        id: date
        # Zmieniono format na %Y%m%d
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            gr8man/webserwer_production:latest
            gr8man/webserwer_production:${{ steps.date.outputs.date }}
